:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product :first-child {
  margin-right: 10px;
}
